html {
    box-sizing: border-box;
  }
  
  *,
  ::after,
  ::before {
    box-sizing: inherit;
  }
  
  .body {
    font-family: "Poppins", sans-serif;
    max-width: 1000px;
    color: #111011;
    background: #9ddc4b;
    margin: auto;
  }
  
  .blackBackground {
    background: #111011;
  }
  
  .buttonChangeColor {
    color: #111011;
    margin: 20px 0;
  }
  
  .dark {
    color: #111011;
    background: #111011;
  }
  
  .footer {
    font-size: 14px;
    text-align: center;
    background-color: #09092d;
    color: #f5f3f3;
  }
  
  .header__title {
    color: #111011;
    background: #f7f7f7;
    text-align: center;
    padding: 7px 0 7px 0;
  }
  
  .header__subTitle {
    font-size: 10px;
    text-align: right;
    margin-top: -16px;
  }
  
  .navigation {
    border: 1px none #111011;
    padding: 10px 10px 20px 0;
    text-align: center;
    max-width: max-content;
    margin: 0 auto -20px auto;
  }
  
  .navigation__link {
    background-color: #060607;
    color: #f5f3f3;
    padding: 9px;
    border-style: groove;
    margin: 0 0 10px 0;
    list-style-type: none;
  }
  
  .navigation__link:focus {
    outline: 4px double #d02020;
  }
  
  .navigation__link:hover {
    color: #d46d12;
  }
  
  .navigation__link:active {
    color: #d46d12;
  }
  
  .section__dogPhoto {
    text-align: center;
  }
  
  .section__goal {
    color: #9ddc4b;
    text-align: center;
    margin: 40px 0px 30px 0px;
  }
  
  .section__mainList {
    font-size: 15px;
    margin-bottom: 40px;
    padding-left: 10px;
    list-style-position: inside;
    line-height: 24px;
    list-style: none;
  }
  
  .section__motto {
    margin: 40px 0px 30px 0px;
  }
  
  .section__paragraph {
    text-align: center;
    font-weight: bold;
    line-height: 1.5;
  }
  
  .section__photo {
    display: block;
    margin: 33px auto 0;
    border-radius: 50%;
    box-shadow: 5px 5px 0px 0px #46464686;
  }
  
  .section__subHeader {
    padding-top: 10px;
  }
  
  .table {
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    border-collapse: collapse;
    margin-bottom: 40px;
    border: 3px solid #111011;
    background: #f5f3f3;
  }
  
  .table__caption {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 10px;
  }
  
  .table__cell {
    border: 1px solid #111011;
    padding: 10px;
    text-align: center;
  }
  
  .table__cell--header {
    background-color: #10325f;
    color: #ffff;
  }
  
  .table__row:nth-child(even) {
    background-color: #4d5ce171;
  }
  
  .table__row:hover {
    background-color: #4d5ce1;
  }  